<div>
    <h2>Next {{card.data.request.passes}} passes of the ISS</h2>
    <br>
    <p>The table below gives the next {{card.data.request.passes}} passes of the ISS over the following location :
    <ul>
        <li>Latitude: {{card.data.request.latitude}}</li>
        <li>Longitude: {{card.data.request.longitude}}</li>
    </ul>
    <br>
    <p>Date of the request: {{dateFormat (math card.data.request.datetime  '*' 1000) format="MM-DD-YYYY HH:mm:ss"}}
    </p>
    <br>
</div>
    <table class="table-dark table-responsive table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Time</th>
            <th>Duration (s)</th>
        </tr>
        </thead>
        <tbody>
        {{#card.data.response}}
            <tr>
                <td>{{dateFormat (math risetime '*' 1000) format="MMMM Do YYYY, h:mm:ss"}}</td>
                <td>{{duration}}</td>
            </tr>
        {{/card.data.response}}
        </tbody>
    </table>
