<h1> Next {{card.data.request.passes}} passes of the ISS </h1>
<h2> above LAT {{card.data.request.latitude}} and LON {{card.data.request.longitude}}</h2>

<div>
    <ul>
        {{#card.data.response}}
            <li>
                Bla
                {{duration}}
                {{risetime}}
            </li>
        {{/card.data.response}}
    </ul>
</div>
